In [1]:
#! importing libraries
# import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# from sklearn import svm
# from sklearn.metrics import accuracy_score
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder

from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('ProccessedData.csv')
df.head()

,Type of crime,Date of Offend,Off.Name,Off.age,Off.gender,crime description,crime Location,Name of victim,Victim Gender,Victim Age,Conclusion,Link/source,lat,long,Time_of_Day,Location_Type,Weather_Conditions
0,Theft,04-08-2023,Dilip Chavan,36,M,Stolen valuables worth Rs 47 lakh from bank lo...,"18.9492076,72.8001957","Two victims (one female, aged 28 and one male,...",M,20,Bank officer arrested for stealing valuables u...,<https://timesofindia.indiatimes.com/city/mumb...,18.949208,72.800196,Evening,Commercial,Rainy
1,Theft,1990-NA-NA,Vishwanath alias Bala Pawar,27,M,Accused hid for 32 years after being declared ...,"19.2967731,72.8599784",Unknown,M,31,Runaway robbery accused traced and arrested af...,<https://timesofindia.indiatimes.com/city/mumb...,19.296773,72.859978,Night,Commercial,Sunny
2,Theft,24-05-2023,Unknown,34,M,Detained for robbery and vehicle thefts,"18.6010921,73.7641245",19-year-old mechanic,M,31,Minor admitted involvement in thefts and was s...,<https://timesofindia.indiatimes.com/city/pune...,18.601092,73.764124,Evening,Commercial,Sunny
3,Robbery,01-07-2023,Unknown,37,M,"Teen bundled into auto, mugged by 3","19.0790239,72.9080122",Class 12th student,M,22,Triple robbery at gunpoint,<https://timesofindia.indiatimes.com/city/mumb...,19.079024,72.908012,Night,Commercial,Cloudy
4,Other,11-12-2022,"Lateef Shaikh, Radhhe Bhola Shaw",22,M,Rs 10 lakh burglary of wedding jewellery,"19.0759837,72.8776559",Unknown,M,38,Police arrested two suspects and recovered 90%...,<https://timesofindia.indiatimes.com/city/mumb...,19.075984,72.877656,Morning,Residential,Rainy

In [3]:
df = df.drop(['crime description','Conclusion','Link/source','Off.Name','Name of victim'],axis=1)
df.head()

,Type of crime,Date of Offend,Off.age,Off.gender,crime Location,Victim Gender,Victim Age,lat,long,Time_of_Day,Location_Type,Weather_Conditions
0,Theft,04-08-2023,36,M,"18.9492076,72.8001957",M,20,18.949208,72.800196,Evening,Commercial,Rainy
1,Theft,1990-NA-NA,27,M,"19.2967731,72.8599784",M,31,19.296773,72.859978,Night,Commercial,Sunny
2,Theft,24-05-2023,34,M,"18.6010921,73.7641245",M,31,18.601092,73.764124,Evening,Commercial,Sunny
3,Robbery,01-07-2023,37,M,"19.0790239,72.9080122",M,22,19.079024,72.908012,Night,Commercial,Cloudy
4,Other,11-12-2022,22,M,"19.0759837,72.8776559",M,38,19.075984,72.877656,Morning,Residential,Rainy

In [4]:
df.isnull().sum()

Type of crime         0
Date of Offend        0
Off.age               0
Off.gender            0
crime Location        0
Victim Gender         0
Victim Age            0
lat                   0
long                  0
Time_of_Day           0
Location_Type         0
Weather_Conditions    0
dtype: int64

# Proccessing Dates

In [5]:
import ast

df['Date of Offend'].fillna('01-01-2024',inplace=True)
df['Date of Offend'].isna().value_counts()

for index,date in enumerate(df['Date of Offend']):
    try:
        if len(date.split(",")) == 2:
            data = ast.literal_eval(date)
            df['Date of Offend'][index] = data.split(",")[0]
    except:
        print('pass')

pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass

In [6]:
print(df)

    Type of crime            Date of Offend  Off.age Off.gender  \
0           Theft                04-08-2023       36          M
1           Theft                1990-NA-NA       27          M
2           Theft                24-05-2023       34          M
3         Robbery                01-07-2023       37          M
4           Other                11-12-2022       22          M
..            ...                       ...      ...        ...
577         Other  01-01-2023 to 31-12-2023       34          M
578         Other  01-01-2023 to 31-12-2023       26          M
579         Other                01-01-2023       40          M
580         Other                01-01-2023       26          M
581         Other                01-01-2023       27          M

                   crime Location Victim Gender  Victim Age        lat  \
0           18.9492076,72.8001957             M          20  18.949208
1           19.2967731,72.8599784             M          31  19.296773
2           18.6010921,73.7641245             M          31  18.601092
3           19.0790239,72.9080122             M          22  19.079024
4           19.0759837,72.8776559             M          38  19.075984
..                            ...           ...         ...        ...
577  28.6691565,77.45375779999999             F          30  28.669156
578  28.6691565,77.45375779999999             F          20  28.669156
579   22.572646,88.36389500000001             M          23  22.572646
580  28.7040592,77.10249019999999             F          20  28.704059
581            20.593684,78.96288             F          29  20.593684

          long Time_of_Day Location_Type Weather_Conditions
0    72.800196     Evening    Commercial              Rainy
1    72.859978       Night    Commercial              Sunny
2    73.764124     Evening    Commercial              Sunny
3    72.908012       Night    Commercial             Cloudy
4    72.877656     Morning   Residential              Rainy
..         ...         ...           ...                ...
577  77.453758       Night    Commercial             Cloudy
578  77.453758     Morning    Commercial             Cloudy
579  88.363895   Afternoon   Residential              Sunny
580  77.102490     Evening    Commercial              Rainy
581  78.962880   Afternoon   Residential              Sunny

[582 rows x 12 columns]

In [7]:
df['Type of crime'].value_counts()

Murder               177
Theft                129
Other                115
Sexual Harassment     70
Kidnapping            48
Robbery               43
Name: Type of crime, dtype: int64

# CLUSTERING BASED ON _'DATE OF OFFENCE'_

In [8]:
df1 = pd.read_csv('demo.csv')
df1.head()

FileNotFoundError: [Errno 2] No such file or directory: 'demo.csv'

In [ ]:
df1['Date of Offend'] = pd.to_datetime(df1['Date of Offend'], errors='coerce')
df1['Date of Offend'] = df1['Date of Offend'].fillna(method='ffill')
df1['Date of Offend'] = pd.to_datetime(df1['Date of Offend'], errors='coerce')

C:\Users\Dishant\AppData\Local\Temp\ipykernel_15808\2767364846.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df1['Date of Offend'] = pd.to_datetime(df1['Date of Offend'], errors='coerce')

In [ ]:
df1.head()

,Type of crime,Date of Offend,Off.age,Off.gender,Victim Gender,Victim Age,lat,long
0,Theft,2023-10-30,38,M,F,25,19.117777,72.863053
1,Murder,2024-01-17,33,M,M,41,19.075984,72.877656
2,Vandalising Property in riots,2024-01-22,33,M,M,43,19.286938,72.861875
3,Drug-related Offense,2024-03-02,40,M,M,77,19.135085,72.814610
4,Drug-related Offense,2024-03-02,37,M,M,77,19.135085,72.814610

In [ ]:

#! features extraction
df1['Month'] = df1['Date of Offend'].dt.month
df1['Day of Week'] = df1['Date of Offend'].dt.dayofweek

In [ ]:
df1 = pd.get_dummies(df1, columns=['Type of crime'])
df1.head()

df1['Date of Offend'] = pd.to_datetime(df1['Date of Offend'])

# Extract relevant features from the date
df1['Month'] = df1['Date of Offend'].dt.month
df1['Day of Week'] = df1['Date of Offend'].dt.dayofweek

# Replace 'M' and 'F' with 1 and 0 in 'Off.gender' column
df1['Off.gender'].replace({'M': 1, 'F': 0}, inplace=True)

# Replace 'M' and 'F' with 1 and 0 in 'Victim Gender' column
df1['Victim Gender'].replace({'M': 1, 'F': 0}, inplace=True)

# Select features for clustering
features = ['Month', 'Day of Week', 'lat', 'long', 'Victim Gender', 'Victim Age', 'Off.age', 'Off.gender'] + list(df1.filter(like='Type of crime_').columns)

# Normalize features
scaler = StandardScaler()
X = scaler.fit_transform(df1[features])

# Choose the number of clusters (k)
k = 6

# Apply K-means clustering
kmeans = KMeans(n_clusters=k)
kmeans.fit(X)

# Add cluster labels to the DataFrame
df1['Cluster'] = kmeans.labels_

# Explore the clusters
cluster_centers = scaler.inverse_transform(kmeans.cluster_centers_)
cluster_df = pd.DataFrame(cluster_centers, columns=features)
print(cluster_df)

      Month  Day of Week           lat       long  Victim Gender  Victim Age  \
0  3.580000     1.680000  2.092536e+01  73.913084       0.840000   39.680000
1  5.757895     3.221053  1.927510e+01  74.119913       0.821053   49.115789
2  3.000000     5.000000  1.921662e+01  72.862088       1.000000   61.750000
3  3.000000     2.000000  2.546286e+01  81.795105       0.000000   34.000000
4  7.350000     3.100000  3.552714e-15   0.000000       0.850000   44.500000

     Off.age  Off.gender  Type of crime_AI Crime  Type of crime_ATM Heist  \
0  33.540000    0.960000           -6.071532e-18            -8.673617e-19
1  33.357895    0.873684            1.052632e-02             1.052632e-02
2  35.750000    1.000000            0.000000e+00             0.000000e+00
3  33.000000    0.000000            0.000000e+00             0.000000e+00
4  33.450000    1.000000           -4.336809e-18            -1.734723e-18

   ...  Type of crime_Share Trading Fraud  Type of crime_Suicide  \
0  ...                       2.000000e-02           2.000000e-02
1  ...                       2.105263e-02           8.673617e-18
2  ...                       0.000000e+00           0.000000e+00
3  ...                       0.000000e+00           0.000000e+00
4  ...                      -6.938894e-18           8.673617e-19

   Type of crime_Suicide in Custody  Type of crime_Suspicious Death  \
0                     -6.071532e-18                   -4.336809e-18
1                      1.052632e-02                    1.052632e-02
2                      0.000000e+00                    0.000000e+00
3                      0.000000e+00                    0.000000e+00
4                     -4.336809e-18                   -1.734723e-18

   Type of crime_Theft  Type of crime_Vandalising Property in riots  \
0         1.665335e-16                                 2.000000e-02
1         3.473684e-01                                 1.301043e-17
2        -2.775558e-17                                 0.000000e+00
3        -2.775558e-17                                 0.000000e+00
4         4.500000e-01                                -1.734723e-18

   Type of crime_Vehicle wheel theft  Type of crime_['Cheating', 'Extortion']  \
0                      -2.602085e-18                            -4.336809e-18
1                       1.052632e-02                             1.052632e-02
2                       0.000000e+00                             0.000000e+00
3                       0.000000e+00                             0.000000e+00
4                       2.602085e-18                             8.673617e-19

   Type of crime_['Crude Bomb Case', 'Arms Act Violation']  \
0                                      -6.071532e-18
1                                       8.673617e-18
2                                       0.000000e+00
3                                       1.000000e+00
4                                      -4.336809e-18

   Type of crime_['Unlawful Assembly', 'Violation of Orders']
0                                      -4.336809e-18
1                                       1.052632e-02
2                                       0.000000e+00
3                                       0.000000e+00
4                                       8.673617e-19

[5 rows x 81 columns]

c:\Users\Dishant\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [ ]:
df1['Cluster'].value_counts()
df1

,Date of Offend,Off.age,Off.gender,Victim Gender,Victim Age,lat,long,Month,Day of Week,Type of crime_AI Crime,...,Type of crime_Suicide,Type of crime_Suicide in Custody,Type of crime_Suspicious Death,Type of crime_Theft,Type of crime_Vandalising Property in riots,Type of crime_Vehicle wheel theft,"Type of crime_['Cheating', 'Extortion']","Type of crime_['Crude Bomb Case', 'Arms Act Violation']","Type of crime_['Unlawful Assembly', 'Violation of Orders']",Cluster
0,2023-10-30,38,1,0,25,19.117777,72.863053,10,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2024-01-17,33,1,1,41,19.075984,72.877656,1,2,0,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-22,33,1,1,43,19.286938,72.861875,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2024-03-02,40,1,1,77,19.135085,72.814610,3,5,0,...,0,0,0,0,0,0,0,0,0,2
4,2024-03-02,37,1,1,77,19.135085,72.814610,3,5,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2023-12-31,33,1,0,35,19.187587,72.848100,12,6,0,...,0,0,0,0,0,0,0,0,0,0
166,2023-12-24,33,1,1,38,19.051693,72.869160,12,6,0,...,0,0,0,0,0,0,0,0,0,0
167,2023-12-27,33,1,1,25,19.052148,72.828500,12,2,0,...,0,0,0,0,0,0,0,0,0,0
168,2023-12-29,40,1,0,43,19.187446,72.848369,12,4,0,...,0,0,0,0,0,0,0,0,0,1
169,2024-01-18,33,1,0,29,19.200477,72.873689,1,3,0,...,0,0,0,0,0,0,0,0,0,0

_Printing the Cluster Charcteristics_

In [ ]:
# Group data by cluster and calculate mean values for each feature
cluster_characteristics = df1.groupby('Cluster').mean(numeric_only=False)
# Round all numeric values
cluster_characteristics = cluster_characteristics.round()

# Convert gender values back to 'M' and 'F'
cluster_characteristics['Off.gender'].replace({1: 'M', 0: 'F'}, inplace=True)
cluster_characteristics['Victim Gender'].replace({1: 'M', 0: 'F'}, inplace=True)

# Print cluster characteristics
cluster_characteristics

cluster_characteristics.head()

,Date of Offend,Off.age,Off.gender,Victim Gender,Victim Age,lat,long,Month,Day of Week,Type of crime_AI Crime,...,Type of crime_Share Trading Fraud,Type of crime_Suicide,Type of crime_Suicide in Custody,Type of crime_Suspicious Death,Type of crime_Theft,Type of crime_Vandalising Property in riots,Type of crime_Vehicle wheel theft,"Type of crime_['Cheating', 'Extortion']","Type of crime_['Crude Bomb Case', 'Arms Act Violation']","Type of crime_['Unlawful Assembly', 'Violation of Orders']"
Cluster,,,,,,,,,,,,,,,,,,,,,
0,2023-11-17 21:36:00.000000000,34.0,M,M,40.0,21.0,74.0,4.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-06-17 05:03:09.473684224,33.0,M,M,49.0,19.0,74.0,6.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-03-02 00:00:00.000000000,36.0,M,M,62.0,19.0,73.0,3.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-03-13 00:00:00.000000000,33.0,F,F,34.0,25.0,82.0,3.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2023-02-14 08:24:00.000000000,33.0,M,M,44.0,0.0,0.0,7.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Find columns related to 'Type of crime'
type_of_crime_columns = cluster_characteristics.columns[cluster_characteristics.columns.str.startswith('Type of crime_')]

# Find the index of the column with the maximum value for each row
cluster_characteristics['Type of crime'] = cluster_characteristics[type_of_crime_columns].idxmax(axis=1)

# Extract the actual crime type from the column name
cluster_characteristics['Type of crime'] = cluster_characteristics['Type of crime'].str.replace('Type of crime_', '')

# Drop the one-hot encoded columns
cluster_characteristics.drop(columns=type_of_crime_columns, inplace=True)

# Print the DataFrame to verify the changes
cluster_characteristics

#? 
#! performing similarly for df1
#? 

# Find columns related to 'Type of crime'
type_of_crime_columns = df1.columns[df1.columns.str.startswith('Type of crime_')]

# Find the index of the column with the maximum value for each row
df1['Type of crime'] = df1[type_of_crime_columns].idxmax(axis=1)

# Extract the actual crime type from the column name
df1['Type of crime'] = df1['Type of crime'].str.replace('Type of crime_', '')

# Drop the one-hot encoded columns
df1.drop(columns=type_of_crime_columns, inplace=True)

# Print the DataFrame to verify the changes
df1

,Date of Offend,Off.age,Off.gender,Victim Gender,Victim Age,lat,long,Month,Day of Week,Cluster,Type of crime
0,2023-10-30,38,1,0,25,19.117777,72.863053,10,0,1,Theft
1,2024-01-17,33,1,1,41,19.075984,72.877656,1,2,0,Murder
2,2024-01-22,33,1,1,43,19.286938,72.861875,1,0,0,Vandalising Property in riots
3,2024-03-02,40,1,1,77,19.135085,72.814610,3,5,2,Drug-related Offense
4,2024-03-02,37,1,1,77,19.135085,72.814610,3,5,2,Drug-related Offense
...,...,...,...,...,...,...,...,...,...,...,...
165,2023-12-31,33,1,0,35,19.187587,72.848100,12,6,0,Murder
166,2023-12-24,33,1,1,38,19.051693,72.869160,12,6,0,Murder
167,2023-12-27,33,1,1,25,19.052148,72.828500,12,2,0,Murder
168,2023-12-29,40,1,0,43,19.187446,72.848369,12,4,1,Double Murder
169,2024-01-18,33,1,0,29,19.200477,72.873689,1,3,0,Murder

In [ ]:
cluster_characteristics.to_csv('ClusterCategories.csv',index=False)
df1.to_csv('ClusteredData.csv',index=False)